nav{
    background-color: #5a67d8;
}
nav ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    border-radius: 25px;
    height: 5px;
    width: 0;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    position: absolute;
    left: 0;
    bottom: 5px;
    transition-duration: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}